<head>
    <%=stylesheet_link_tag "articles" %>
    <% @title="Edit" %>
</head>

<h1>Edit article:</h1>
<p><%= link_to image_tag("/images/logo.png", class: 'logo'), articles_path %></p>

<%= render 'form' %>