// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
    color: white;
    text-align: left;
    padding-left: 10%;
    padding-top: 25px;
    height: 100px;
    background-color: firebrick;
    margin-top: 0px;
}
    
body {
    background-color: #333333;
    overflow-x:  hidden;
}

a {
    color: white;
}

p {
    color: white;
}

span {
    color: white;
}

em {
    color: white;
}

.title {
    margin-top: -110px;
    margin-left: 25%;
}

.preview {
    margin-left: 25%;
    margin-bottom: 70px;
}

.image {
    margin-left: 15%;
}

.no_image {
    margin-left: 15%;
    width: 150px;
    height: 150px;
}

.big_image {
    margin-left: 15%;
    width: 300px;
    height: 300px;
}

.menu {
    margin-left: 40%;
    margin-top: -70px;
    margin-bottom: 40px;
}

.toolsbar {
    text-align: center;
}

.title_in_show_html {
    margin-left: 25%;
    margin-top: -330px;
    background-color: #333333;
    font-weight: bold;
    padding-right: 20%;
}

.category {
    margin-top: 160px;
    margin-left: 35%;
}

.text {
    text-align: left;
    margin-left: 10%;
    font-size: 20px;
    margin-top: 50px;
    padding-right: 20%;
}

.time {
    margin-left: 35%;
    margin-top: 20px;
}

.new_article {
    color: white;
    text-align: center;
}

.button {
    margin-left: 45%;
}

.error {
    color: black;
    text-align: center;
    background-color: #f2dede;
    width: 250px;
    margin-left: 43%;
    border-radius: 15px;
    border: 1px solid #ebccd1;
}

.form {
    background-color: #393E41;
}

.selector {
    margin-left: 90%;
    margin-top: -65px;
    margin-bottom: 60px;
}
